<ion-header [translucent]="true">
    <ion-toolbar>
        <!-- <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons> -->
        <ion-title>{{ appName }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list lines="full" class="ion-no-margin">
        <ion-item>
            <ion-label position="floating">Username</ion-label>
            <ion-input [(ngModel)]="username"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input type="password" [(ngModel)]="password"></ion-input>
        </ion-item>
    </ion-list>
    <ion-button (click)="login()" expand="block" color="tertiary" class="ml-10 mr-10 mt-10">Login</ion-button>
</ion-content>
