<ion-header [translucent]="true">
    <ion-toolbar>
        <!-- <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons> -->
        <ion-title>{{ appName }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-img src="assets/images/logo-badung.png" style="padding: 3em 3em 1em 3em;"></ion-img>
    <ion-text color="primary ion-text-center">
        <h3>SISTEM INFORMASI PELAPORAN & PEMANTAUAN PEMBANGUNAN (SIPPP) KABUPATEN BADUNG</h3>
      </ion-text>
    <form #f="ngForm" (ngSubmit)="login(f)">
    <ion-list lines="full" class="ion-no-margin">
        <ion-item>
            <ion-label position="floating">Username</ion-label>
            <ion-input ngModel required name="username"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input type="password" ngModel required name="password"></ion-input>
        </ion-item>
    </ion-list>
    <ion-button type="submit" expand="block" color="tertiary" class="ml-10 mr-10 mt-10">Login</ion-button>
    </form>
</ion-content>
